<%- include('partials/header') %>
    <main class="container">
        <h1>
            <%= title %>
        </h1>
        <div class="category-list">
            <ul>
                <li>Environmental</li>
                <li>Educational</li>
                <li>Community Service</li>
                <li>Health and Wellness</li>
            </ul>
        </div>
    </main>
    <%- include('partials/footer') %>