<%- include('partials/header') %>
    <main class="container">
        <h1>
            <%= title %>
        </h1>
        <div class="category-list">
            <ul>
                <% categories.forEach(category=> { %>
                    <li>
                        <%= category.name %>
                    </li>
                    <% }) %>
            </ul>
        </div>
    </main>
    <%- include('partials/footer') %>